body {
    overflow: hidden;
    display: block;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    background: lightgrey;
    margin: 0;
}

body.no-scroll {
    overflow: hidden;
}

b {
    font-weight: 600;
}

p {
    font-size: 22px;
    line-height: 1.125;
    margin: 12px 0;
}

h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 40px;
    margin: 0;
}

h4,
button {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}

.info {
    text-transform: lowercase;
}

#collection-container {
    position: absolute;
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 16px;
    margin: 40px;
    overflow-y: hidden;
    scrollbar-width: none;

}

#collection-container .sidebar {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#logo {
    width: 50%;
}

button {
    display: contents;
    cursor: pointer;
}

#filter-container button,
.filter-toggle {
    display: block;
    color: white;
    background-color: #000;
    height: 40px;
    width: 100%;
    padding: 0 16px;
    border: none;
}

.filter-toggle {
    display: none;
}

#filter-container {
    height: 690px;
}

#filter-container h4 {
    margin: 16px 0;
}

#filter-container #filter-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    overflow-y: scroll;
    font-size: 32px;
    margin-bottom: 16px;
}

#filter-container #filter-list .filter-type {
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: none;
    border: 2.4px solid #000;
    border-radius: 20px;
    vertical-align: middle;
    bottom: 2px;
    position: relative;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #000;
    border-color: #000;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark::after {
    display: block;
}

#proef-wrapper {
    grid-column: 5 / span 12;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

#collection-container #proef-container {
    column-count: 3;
    gap: 16px;
    margin-right: 8px;
}

#collection-container #proef-container .item {
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
}

#collection-container #proef-container .type {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#collection-container #proef-container .type h2 {
    display: none;
}

#collection-container #proef-container .images img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

/* <<<------------ LETTER-FICHES ------------>>> <<<------------ LETTER-FICHES ------------>>> <<<------------ LETTER-FICHES ------------>>> */

#carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#data-container {
    width: 100vw;
    height: 100vh;
}

.navigate {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

#data-container .fiche {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 16px;
    width: calc(100% - 80px);
    height: calc(100% - 120px);
    margin: 40px 40px 80px 40px;
}

.type,
.objectnummer,
.corps,
.aantal,
.hoogte,
.beschrijving {
    position: relative;
    background-color: white;
    padding: 16px;
    padding-top: 12px;
}

.type {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}

.objectnummer {
    grid-column: 6 / span 3;
    grid-row: 1 / span 1;
}

.corps {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.aantal {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
}

.hoogte {
    grid-column: 5 / span 4;
    grid-row: 2 / span 1;
}

.beschrijving {
    grid-column: 9 / span 8;
    grid-row: 1 / span 2;
}

#data-container .images {
    grid-column: 1 / span 16;
    grid-row: 3 / span 6;
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: scroll;
    background-color: white;
    padding: 16px;
}

#data-container .images img {
    height: 100%;
}

.x-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(200, 200, 200);
    border-radius: 0px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-radius: 0px;
}

/* <<<------------ @MEDIA ------------>>> <<<------------ @MEDIA ------------>>> <<<------------ @MEDIA ------------>>> */

@media (max-height: 960px) {

    h4,
    button {
        font-size: 12px;
    }

    h2 {
        font-size: 32px;
    }

    #collection-container {
        height: calc(100% - 80px);
    }

    #collection-container .sidebar {
        height: calc(100vh - 80px);
    }

    #filter-container {
        max-height: calc(100% - 80px);
    }

    #filter-container #filter-list {
        max-height: calc(100% - 136px);
    }

}

@media (max-height: 860px) {

    h4,
    button {
        font-size: 9px;
    }

    h2 {
        font-weight: 400;
        font-size: 22px;
    }

}

@media (max-width: 1919px) {

    body {
        overflow-y: scroll;
    }

    #collection-container {
        height: calc(100% - 80px);
    }

    #collection-container .sidebar {
        height: calc(100vh - 80px);
    }

    #filter-container {
        max-height: calc(100% - 80px);
    }

    #filter-container #filter-list {
        max-height: calc(100% - 116px);
        font-size: 22px;
    }

    .custom-checkbox .checkmark {
        width: 12px;
        height: 12px;
        border: 2px solid #000;
        bottom: 0.75px;
    }

    #carousel-container {
        height: auto;
        overflow: hidden;
    }

    #data-container {
        width: 100vw;
        height: auto;
    }

    #data-container .fiche {
        grid-template-rows: repeat(1, 1fr);
        width: auto;
        height: 100%;
    }

    p {
        font-size: 16px;
    }

    h2 {
        position: relative;
        top: 0;
        font-weight: 500;
        font-size: 32px;
        margin: 0 0 5px 0;
        transform: none;
    }

    h4,
    button {
        font-size: 12px;
        margin: 0;
    }

    .type {
        grid-column: 1 / span 8;
        grid-row: 1 / span 1;
    }

    .objectnummer {
        grid-column: 9 / span 8;
        grid-row: 1 / span 1;
    }

    .corps {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }

    .aantal {
        grid-column: 4 / span 3;
        grid-row: 2 / span 1;
    }

    .hoogte {
        grid-column: 1 / span 6;
        grid-row: 3 / span 1;
    }

    .beschrijving {
        grid-column: 7 / span 10;
        grid-row: 2 / span 2;
    }

    .beschrijving .box {
        margin: 12px 0;
        height: calc(100% - 25px);
        overflow-y: hidden;
    }

    .beschrijving .box p {
        margin: 0;
    }

    #data-container .images {
        grid-column: 1 / span 16;
        grid-row: 4 / span 1;
    }

    #data-container .images img {
        height: 75vh;
    }

}

@media (max-width: 1333px) {
    #collection-container .sidebar {
        grid-column: 1 / span 5;
    }

    #collection-container #proef-container {
        column-count: 2;
    }

    #proef-wrapper {
        grid-column: 6 / span 11;
    }

}

@media (max-width: 1080px) {
    #collection-container .sidebar {
        grid-column: 1 / span 6;
    }

    #proef-wrapper {
        grid-column: 7 / span 10;
    }

}

@media (max-width: 960px) and (orientation: portrait) {

    #collection-container .sidebar {
        grid-column: 1 / span 8;
        gap: 8px;
    }

    #filter-container {
    max-height: calc(100% - 98px);
    }

    #collection-container #proef-container {
        column-count: 1;
    }

    #proef-wrapper {
        grid-column: 9 / span 8;
    }

    #data-container .fiche {
        margin: 16px 16px 80px 16px;
    }

    h2 {
        font-weight: 400;
        font-size: 22px;
        margin: 0 0 0 0;
    }

    h4,
    button {
        font-size: 9px;
        margin: 0;
    }

    .type {
        grid-column: 1 / span 16;
        grid-row: 2 / span 1;
    }

    .objectnummer {
        grid-column: 1 / span 16;
        grid-row: 3 / span 1;
    }

    .corps {
        grid-column: 1 / span 8;
        grid-row: 4 / span 1;
    }

    .aantal {
        grid-column: 9 / span 8;
        grid-row: 4 / span 1;
    }

    .hoogte {
        grid-column: 1 / span 16;
        grid-row: 5 / span 1;
    }

    .beschrijving {
        grid-column: 1 / span 16;
        grid-row: 6 / span 2;
    }

    #data-container .images {
        grid-column: 1 / span 16;
        grid-row: 1 / span 1;
    }

    #data-container .images img {
        height: 50vh;
    }

}

@media (max-width: 720px) and (orientation: landscape) {
    
    #collection-container {
        height: calc(100% - 32px);
        margin: 16px;
    }

    #filter-container {
    max-height: calc(100% - 59px);
    }

}

@media (max-width: 720px) and (orientation: portrait) {

    #logo {
        width: 25%;
    }

    #filter-container button, button.filter-toggle {
        height: 16px;
    }

    #collection-container {
        height: calc(100% - 32px);
        margin: 16px;
        display: grid;
        grid-template-rows: auto 1fr 1fr 1fr;
        transition: all 0.3s ease;
    }

    #collection-container .sidebar {
        grid-column: 1 / span 16;
        grid-row: 1 /span 3;
        gap: 0;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    #collection-container #proef-container {
        column-count: 1;
    }

    #proef-wrapper {
        grid-column: 1 / span 16;
        grid-row: 4 / span 1;
        transition: all 0.3s ease;
    }

    .filter-toggle {
        display: block;
    }

    #filter-container {
        flex: 1;
        overflow-y: auto;
        max-height: 100%;
        margin-bottom: -68px;
    }

    #filter-container h4 {
        display: none;
    }

    #filter-container #filter-list {
        height: auto;
        margin-top: 16px;
    }

    #collection-container.filters-hidden .sidebar {
        grid-row: 1 / span 1;
        background-color: transparent;
        height: auto;
    }

    #collection-container.filters-hidden .sidebar #filter-container {
        display: none;
    }

    #collection-container.filters-hidden #proef-wrapper {
        grid-row: 2 / span 3;
    }

}